.react-tel-input {
    width: 100%;
}

.react-tel-input .form-control {
    width: 91% !important;
    padding: 0.5rem 0.75rem !important;
    border: 1px solid #d1d5db !important;
    border-radius: 0.375rem !important;
    /* Tailwind's rounded-md */
    font-size: 0.875rem !important;
    /* Tailwind's text-sm */
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
    /* Tailwind's shadow-sm */
    color: #111827;
    background-color: #fff;
    outline: none;
    margin-left: 32px !important;
}

.react-tel-input .form-control::placeholder {
    color: #9ca3af;
    /* Tailwind's placeholder-gray-400 */
}

.react-tel-input .form-control:focus, PhoneInput {
    border-color: #3b82f6 !important;
    /* Tailwind's border-blue-500 */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5) !important;
    /* Tailwind's ring-2 ring-blue-500 */
}

.react-tel-input .flag-dropdown {
    border-right: 1px solid #d1d5db !important;
    background-color: white !important;
    border-radius: 0.375rem 0 0 0.375rem !important;
    /* match input left side */
}